@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,200;0,300;1,300&family=Preahvihear&display=swap');
// Font Familes
$font-family1: 'Plus Jakarta Sans';
$font-family2: 'Preahvihear', sans-serif;
$font-family3: 'Poppins', sans-serif;

// Colors
$primary: #11071f;
$secondary: #200D3C;
$head-color: #9857D3;
$text-color: #7127BA;
$white: #fff;
$bg-card: #693B93;
$text-card: #CCD6F6;

// Gradients
$card-gradient: linear-gradient(149.88deg, #130428 37.22%, #251043 70.43%, #38126D 97.89%, #261045 132.38%, #190634 150.9%);
$project-gradient: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%);