.navbar {
    li a {
        font-family: $font-family1;
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.02em;
        color: $white;
        text-transform: none;
        margin-right: 2rem;
    }
}